.git
.gitignore
.vscode-test/
.vscode/
node_modules/
src/**
scripts/**
out/**
tsconfig.test.json
**/*.ts
**/*.map
**/*.test.ts
tsconfig.json
.eslintrc.json
setup.sh
*.vsix
CONFIG.md
DEVELOPMENT.md
GETTING_STARTED.md
TODO.md
media/logo-white.png
